/* css */

body
{
	margin-left: 1vw;
}

h1, h2, h3
{
	line-height:3vw;
	padding:0;
	margin:0;
}
h1
{
	font-size: 4vw;
	color: rgb(50, 50, 50);
}

h2
{
	font-size: 3vw;
	color: rgb(100, 100, 100);
}

h3
{
	font-size: 2vw;
	color: rgb(150,150,150);
}

input
{
	color: rgb(192, 192, 192);
}

.inputChanged
{
	color: rgb(0 ,0, 0);
}

#stat
{
	font-size: 1vw;
	font-family: sans-serif;
}

#result
{
	line-height:90%;
}

table, th, td
{
	width: 80%;
	border: 2px solid #CCC;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;

	font-size: 1.3vw;
	font-family: sans-serif;
}

li
{
	font-size: 1.3vw;
	font-family: "Courier New", Courier, monospace;
}


span
{

	//font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	color: #000944;
}

#stat_delayed
{
	color:red;
}

#stat_ontime
{
	color:#2980B9;
}

#stat_ahead
{
	color:green;
}
